<nav class="navbar navbar-light bg-dark">
  <a href="/" class="navbar-brand">
    <img
      src="/img/question-logo.png"
      alt="a logo with questions marks."
      class="header-logo"
    />
  </a>
</nav>
